<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Yale Intramurals">
    <meta name="author" content="Summer Wu">
    <link rel="shortcut icon" href="{{ url_for('static', filename='yaleims/img/yalefavicon.ico') }}" />

    <title>Yale Intramurals</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='yaleims/css/style.css') }}" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Kameron:700' rel='stylesheet' type='text/css'>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <img id="logo" src="{{ url_for('static', filename='yaleims/img/logo.png') }}">

    <div id="title">
      <h1>Yale Intramurals</h1>
      <h2>The Quest for Glory... The Quest for the Tyng</h2>
    </div>

    <!-- navigation bar -->
    <nav class="navbar navbar-inverse transparent" role="navigation">
      <div class="container-fluid">
        <!-- All links get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#imlinks">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="imlinks">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('yaleims') }}">Home</a></li>
            <li><a href="{{ url_for('yaleims', page='about') }}">About</a></li>
            <li><a href="http://www.imleagues.com/School/Portal.aspx?Portal=SchOfDay&SchID=b25b75c09f814fb0a8d6cc141221bd11">Schedule</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Fall Sports <span class="caret"></span></a>
              <ul class="dropdown-menu inverse-dropdown" role="menu">
                <li><a href="{{ url_for('yaleims', page='sport', sport='c_football') }}">Coed Football</a></li>
                <li><a href="{{ url_for('yaleims', page='sport', sport='m_football') }}">Men's Football</a></li>
                <li><a href="{{ url_for('yaleims', page='sport', sport='c_soccer') }}">Coed Soccer</a></li>
                <li><a href="{{ url_for('yaleims', page='sport', sport='m_soccer') }}">Men's Soccer</a></li>
                <li><a href="{{ url_for('yaleims', page='sport', sport='w_soccer') }}">Women's Soccer</a></li>
                <li><a href="{{ url_for('yaleims', page='sport', sport='c_tabletennis') }}">Coed Table Tennis</a></li>
                <li><a href="{{ url_for('yaleims', page='sport', sport='c_tennis') }}">Tennis</a></li>
                <li><a href="{{ url_for('yaleims', page='sport', sport='c_volleyball') }}">Volleyball</a></li>
                {% for add_sport in fall_sports %}
                <li><a href="{{ url_for('yaleims', page='db_sport', sport=add_sport.name) }}">{{ add_sport.name }}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Winter Sports <span class="caret"></span></a>
              <ul class="dropdown-menu inverse-dropdown" role="menu">
                <li><a href="#">Men's A-Hoops</a></li>
                <li><a href="#">Men's B-Hoops</a></li>
                <li><a href="#">Men's C-Hoops</a></li>
                <li><a href="#">Women's Basketball</a></li>
                <li><a href="#">Men's Indoor Volleyball</a></li>
                <li><a href="#">Women's Indoor Volleyball</a></li>
                <li><a href="#">Inner-Tube Water Polo</a></li>
                <li><a href="#">Swimming</a></li>
                <li><a href="#">Bowling</a></li>
                <li><a href="#">Hockey</a></li>
                {% for add_sport in winter_sports %}
                <li><a href="{{ url_for('yaleims', page='db_sport', sport=add_sport.name) }}">{{ add_sport.name }}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Spring Sports <span class="caret"></span></a>
              <ul class="dropdown-menu inverse-dropdown" role="menu">
                <li><a href="#">Ultimate Frisbee</a></li>
                {% for add_sport in spring_sports %}
                <li><a href="{{ url_for('yaleims', page='db_sport', sport=add_sport.name) }}">{{ add_sport.name }}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li><a href="{{ url_for('yaleims', page='archives') }}">Archives</a></li>
            <li><a href="{{ url_for('yaleims', page='rules') }}">Rules</a></li>
            <li><a href="{{ url_for('yaleims', page='contact') }}">Contact</a></li>
            {% if session.user %}
              <li><a href="{{ url_for('admin') }}">Admin</a></li>
            {% endif %}
          </ul>
          
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>