/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #333;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}
body {
  color: #333;
  text-align: left;
  padding: 50px 150px;
}

h1 {
	padding-bottom: 50px;
}