/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/*
 * Base structure
 */

html,
body {
  background: url(../img/background.jpg) no-repeat top left fixed; 
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  margin-top: -10px;
  padding-top: 12px;
  height: 115%;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.8);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

/* title text */
#title {
  display: inline-block;
  margin-top: 10px;
  padding-bottom: 30px;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 16px;
}

/* logo */
#logo {
  vertical-align: top;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: -20px;
  left: 10px;
  height: 120px;
}

/* social media icons */
.social {
    height: 48px;
    margin-right: 20px;
    margin-bottom: 40px;
}
.social-popout {
  height: 48px;
  width: 48px;
  margin: 10px;
  float: right;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.social-popout img {
  border-radius: 50%;
  margin: 8px;
  width: 100%;
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.social-popout img:hover {
  margin: 0px;
  box-shadow: 6px 6px 4px 4px rgba(0,0,0,0.3);
}

#footer {
  position: absolute;
  bottom: -175px;
  width: 100%;
  text-align: center;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 18px;
  }
  #logo {
    height: 150px;
    margin-top: 0;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    background-size: cover;
  }
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 24px;
  }
  #logo {
    height: 180px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 30px;
  }
  #logo {
    height: 200px;
  }
}