/*
 * Globals
 */

/* Links */
a:focus,
a:hover {
  color: #333;
}

a, p {
  color: #AFAFAF;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}
body {
  color: #333;
  text-align: left;
  padding: 0 20px;
}

thead {
	color: #AFAFAF;
}

li {
	list-style-type: none;
}

.container {
  width: auto;
  max-width: 720px;
}

.positive {
  background-color: rgba(0, 255, 0, 0.1);
}

.negative {
  background-color: rgba(255, 0, 0, 0.1);;
}

@media (min-width: 548px) {
  h1 {
    padding: 50px 20px;
  }
}

@media (min-width: 992px) {
  h1 {
    padding: 50px 150px;
  }
}
