/*
 * Globals
 */

@font-face {
  font-family: 'AuthenticSignature';
  src: url(../fonts/AuthenticSignature.ttf);
}

/* Links */
a,
a:focus,
a:hover {
  text-decoration: none;
}
a {
  color: #00BCD4;
}

/*
 * Base structure
 */

html,
body {
  font-family: 'Montserrat';
}
body {
  color: #000;
  text-align: center;
}
#site-container {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Small image
 */
.img-fluid {
  padding: 20px;
}

/*
 * Cover
 */

.cover {
  padding: 20px;
  border-radius: 3px;
  text-align: left;
}
h1 {
  font-size: 60px;
  font-family: 'AuthenticSignature';
  text-align: center;
}
h5 {
  font-weight: 500;
}
.lead {
  font-size: 22px;
}

/* Cards */
.card img:hover {
  opacity: 0.9;
}

/* social media icons */
.right {
  text-align: center;
}
.social {
  display: inline-block;
}
.social-popout {
  height: 48px;
  width: 48px;
  margin: 10px;
  float: left;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.social-popout img {
  border-radius: 50%;
  margin: 8px;
  width: 100%;
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.social-popout img:hover {
  margin: 0px;
  box-shadow: 6px 6px 4px 4px rgba(0,0,0,0.3);
}

/* X-Small devices (portrait phones, less than 576px)
   No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  html, body {
    height: 100%;
  }
  h1 {
    font-size: 40px;
    text-align: left;
  }
  .lead {
    font-size: 20px;
  }
  .right {
    text-align: left;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h1 {
    font-size: 80px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

}