{% include 'yaleims/header.html' %}

  <div class="col-sm-6 col-sm-offset-3">
  	<h4>Overview:</h4>
    <p>
    	The Yale Intramural program provides an outlet for athletic competition for the Yale community. It is designed for maximum participation: one will find high school varsity athletes competing on the same team as PE dropouts. Teams are organized through the residential colleges, allowing any student to play any one of the 30 sports. While the goal of most athletes is to win the Tyng Cup, the award for excellence, the goals of the program stress the community of the residential colleges, the values of sportsmanship and fair play, and the lessons learned through competitive sports.
    </p>

	<h4>History:</h4>
	<p>
		Yale Intramurals saw their beginning in the early 20th century. These early contests were designed for non-varsity athletes to compete in athletic competitions. The teams were mainly classes.

		However, with the inauguration of the Residential College system in 1933, the Intramural program changed significantly. The teams changed from gradutation classes to residential colleges in order to benefit from the closeness of the college communities. Also introduced during this year was the Tyng Cup, a gift from alumni George Adee, Sheldon Rose, and Malcolm Aldrich. The Tyng has been awarded annually since 1933 to the resedential college that has won the greatest number of Tyng points at the end of the academic year.

		A second trophy, the Davie Cup, has been awarded annually since 1987 to the Residential College with the best participation percentage over the academic year. This trophy is presented in the memory of Dean James S. Davie of Timothy Dwight College.

		The tradtion of the Harkness Cup Games, or the Yale College-Harvard House Games, started in the fall of 1935. These games pit the champions of the two intramural programs against one another, usually the day before The Game. The winner of the most games is awarded the Harkness Cup Trophy, which incidentally was lost in the mid-1970s.
	</p>

	<h4>The Tyng Cup:</h4>
	<p>
		Awarded anually since 1933, the Tyng Cup is the most coveted of all Intramural Trophies. Each Intramural contest played throughout the year is weighted with a number of Tyng Cup points equal to the amount of atheletes playing at one time. Hence, soccer games are worth 11 Tyng points and basketball games are worth 5. If a college wins a game, they are awarded that number of Tyng Cup Points. Timothy Dwight has won the Tyng Cup the most number of times with 12, and Trumbull the least with a single win. The current total of Tyng Points for each college is displayed at the Intramural website.
    </p>

{% include 'yaleims/footer.html' %}