{% include 'yaleims/header.html' %}

    <img id="logo" src="{{ url_for('static', filename='yaleims/img/logo.png') }}">

    <h1>Yale Intramurals</h1>
    <h2>The Quest for Glory... The Quest for the Tyng</h2>
    <table class="table">
      {% for item in range(0,13) %}
      <tr>
        <td>{{ wks[item*3] }}</td>
        <td>{{ wks[item*3 + 1] }}</td>
        <td>{{ wks[item*3 + 2] }}</td>
      </tr>
      {% endfor %}
    </table>

    <div class="social">
      <div class="social-popout"><a href="https://www.facebook.com/pages/Yale-Intramurals/158841627471121?ref=br_tf"><img src="{{ url_for('static', filename='yaleims/img/facebook.png') }}" /></a></div>
    </div>

{% include 'yaleims/footer.html' %}