{% include 'yaleims/header.html' %}
  
  <img id="logo" src="{{ url_for('static', filename='yaleims/img/logo.png') }}">

  <div id="title">
    <h1>Yale Intramurals</h1>
    <h2>The Quest for Glory... The Quest for the Tyng</h2>
  </div>

  <div class="col-sm-6 col-sm-offset-3">
    <table class="table">
      {% for item in range(0,13) %}
      <tr>
        <td>{{ wks[item*3] }}</td>
        <td>{{ wks[item*3 + 1] }}</td>
        <td>{{ wks[item*3 + 2] }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

{% include 'yaleims/footer.html' %}