<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Summer 2015 Reflection">
    <meta name="author" content="Summer Wu">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />

    <title>Blog</title>

    <!-- Bootstrap core CSS -->
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/blog.css') }}" rel="stylesheet">

    <!-- Font is Montserrat -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<h1>My summer at Google: A reflection [DRAFT]</h1>
	<p>On May 26, I landed at the San Francisco International Airport. This past summer, I had the fortune of being an intern in the heart of Silicon Valley at Google.</p>
	<p>Somewhere in the middle of my internship, after I'd visited San Mateo and journaled in a park, I transitioned from reliving the past, to making new memories, which I know I'll nostalgically reminisce upon for years to come.</p>
	<p>My project is Google Play Store Lite, aka developing a stripped down version of the play store for users on 2G networks.</p>
	<p>Things I wish I had known before my internship:</p>
	<ul>
		<li>California is a desert, which means the mornings and evenings are cool. Bring more pairs of long pants and fewer pairs of shorts.</li>
		<li>Be open to spontaneity! The best experiences are those that aren't planned.</li>
		<li>Take risks, because YOLO. And if you embarrass yourself in front of people, take comfort in the fact that you'll probably never see them again :P</li>
		<li>Google hacks: the bowling alley is in CL2, Baadal and Share are reservation only cafes, the slides are in 1900 and 2000 (although you can only access 2000), and your badge can get you into anywhere!</li>
	</ul>
	<p>Thank you to my hosts, Google, my friends, and family for the best summer of my life.</p>

  </body>
</html>