<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Capital One Instagram Challenge">
    <meta name="author" content="Summer Wu">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/capitalone.ico') }}" />

    <title>Capital One Instagram Challenge</title>

    <!-- Bootstrap core CSS -->
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/capitalone.css') }}" rel="stylesheet">

    <!-- Font is Montserrat -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<h1>#CapitalOne on Instagram</h1>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <td>Time</td>
            <td>Image</td>
            <td>Caption</td>
            <td>Likes</td>
            <td>User</td>
          </tr>
        </thead>
        <tbody>
          {% for i in range(20) %}
          {% if sentiments[i] == 'pos' %}
          <tr class="positive">
          {% elif sentiments[i] == 'neg' %}
          <tr class="negative">
          {% else %}
          <tr>
          {% endif %}
            <td>{{ times[i] }}</td>
            <td><img src='{{ images[i] }}' /></td>
            <td>{{ captions[i] }}</td>
            <td>{{ likes[i] }}</td>
            <td>
              {{ users[i]['username'] }}
              <ul>
                <li>{{ users[i]['num_posts'] }} posts</li>
                <li>{{ users[i]['num_follows'] }} followers</li>
                <li>{{ users[i]['num_followers'] }} following</li>
              </ul>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <p class="pull-right">Created by: <a href="{{ url_for('index') }}">Summer Wu</a></p>
  </body>
</html>