<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Summer's Personal Site">
    <meta name="author" content="Summer Wu">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />

    <title>Summer Wu</title>

    <!-- Bootstrap core CSS -->
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/cover.css') }}" rel="stylesheet">

    <!-- Font is Montserrat -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">
          <img class="visible-xs" src="{{ url_for('static', filename='img/xs_image.jpg') }}">
          <img class="visible-sm" src="{{ url_for('static', filename='img/sm_image.jpg') }}">

          <div class="inner cover">
            <h1 class="cover-heading">Summer Wu</h1>
            <p class="lead">Student at Yale University</p>
            <hr>

            <h4>About Me</h4>
              <p>I love making things and am fascinated by technology; some of my side projects include playing around with Google Cardboard, 3D printing, and revamping this site (using Flask). I dream big, explore widely, and enjoy meeting people with different experiences from mine. Ultimately, I hope to leave the world a better place than I found it. Check out my <a style="font-weight: bold;" href="{{ url_for('blog') }}">blog</a> for more recent updates!</p>
            <h4>Current Projects</h4>
            <p>
              <a href="http://anonmarket.herokuapp.com/" class="project"><img src="{{ url_for('static', filename='img/anon.ico') }}" /> Sharespot</a>- the anonymous marketplace for files
              <br><a href="https://play.google.com/store/apps/details?id=com.dropdot.dropdotpro" class="project"><img src="{{ url_for('static', filename='img/dropdot.ico') }}" /> Dropdot</a>- a connect-the-dots game and puzzle creation tool
              <br><a href="http://sw5813.github.io/heartbeatfitness/" class="project"><img src="{{ url_for('static', filename='img/heartbeat.ico') }}" /> Heartbeat</a>- a fitness app that plays music based on workout pace
              <br><a href="http://www.habitar.me/" class="project"><img src="{{ url_for('static', filename='img/habitar.ico') }}" /> Habitar</a>- personal web avatars for developing habits
              <br><a href="http://sw5813.github.io/uplyft/" class="project"><img src="{{ url_for('static', filename='img/uplyft.ico') }}" /> uplYft</a>- raising campus morale through surprise acts of kindness
              <br><a href="{{ url_for('yaleims') }}" class="project"><img src="{{ url_for('static', filename='yaleims/img/yalefavicon.ico') }}" /> Yale Intramurals</a>- a redesign of the Yale Intramurals site
            </p>

      <hr>
      <a href="{{ url_for('static', filename='summer_wu_resume.pdf') }}"> &#10095; Resume (pdf)</a>
          </div>
    
    <div class="social">
      <div class="social-popout"><a href="https://twitter.com/summerwoohoo"><img src="{{ url_for('static', filename='img/twitter.png') }}" /></a></div>
      <div class="social-popout"><a href="https://www.linkedin.com/pub/summer-wu/80/b29/7ab"><img src="{{ url_for('static', filename='img/linkedin.png') }}" /></a></div>
      <div class="social-popout"><a href="mailto:summer.wu@yale.edu"><img src="{{ url_for('static', filename='img/email.png') }}" /></a></div>
    </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>