<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Summer's Personal Site">
    <meta name="author" content="Summer Wu">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />

    <title>Summer Wu</title>

    <!-- Bootstrap core CSS -->
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/cover.css') }}" rel="stylesheet">

    <!-- Font is Montserrat -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">
          <img class="visible-xs" src="{{ url_for('static', filename='img/xs_image.jpg') }}">
          <img class="visible-sm" src="{{ url_for('static', filename='img/sm_image.jpg') }}">

          <div class="inner cover">
            <h1 class="cover-heading">Summer Wu</h1>
            <p class="lead">PM @ Microsoft HoloLens</p>
            <hr>

            <h4>About Me</h4>
              <p>I'm fascinated by mixed reality and excited about its potential to transform people's lives. I aspire to create products that will contribute to a more ethical, sustainable, and equitable future.</p>

              <p>When I'm not tinkering with holograms, I'm likely learning a new language, training for my next marathon, or curled up with a good book!</p>
              
              <p>
                Although lately it's been neglected, I sometimes <a style="font-weight: bold" href="{{ url_for('blog') }}">*blog*</a> about the places I visit. 
              </p>

            <hr>
            <a href="{{ url_for('static', filename='summer_wu_resume.pdf') }}"> &#10095; Resume (pdf)</a>
          </div>
    
          <div class="social-background">
            <div class="social">
              <div class="social-popout"><a href="https://twitter.com/summerwoohoo"><img src="{{ url_for('static', filename='img/twitter.png') }}" /></a></div>
              <div class="social-popout"><a href="https://github.com/sw5813"><img src="{{ url_for('static', filename='img/github.jpg') }}" /></a></div>
              <div class="social-popout"><a href="https://www.linkedin.com/pub/summer-wu/80/b29/7ab"><img src="{{ url_for('static', filename='img/linkedin.png') }}" /></a></div>
              <div class="social-popout"><a href="mailto:summer.wu82@gmail.com"><img src="{{ url_for('static', filename='img/email.png') }}" /></a></div>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>