<!DOCTYPE html>
<html lang="en">
  <head>
    <title>section50</title>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='css/section50.css') }}" rel="stylesheet">
  </head>
  <body>
    <h1>section50</h1>
    <ul id="navbar">
      <li><a href="https://cs50.yale.edu">About cs50</a></li>
      <li><a href="http://docs.cs50.net/2016/fall/psets/6/yale.html">pset6</a></li>
      <li><a href="https://www.google.com/maps/place/60+Sachem+St,+New+Haven,+CT+06511/@41.3160028,-72.9258931,17z/data=!3m1!4b1!4m2!3m1!1s0x89e7d9b81f39e751:0x31d16278da0359de">Location</a></li>
      <li><a href="mailto:summer.wu@yale.edu">Contact</a></li>
    </ul>
    <!-- This is a comment -->
    <img src="{{ url_for('static', filename='img/cat.png') }}">
    <div class="agenda">
      <h3>ohai section!</h3>
      <p>Want to make a personal webpage? Learn how the Internet works? Understand machine learning? Become a C to Python translator? Figure out what's up with pset6?</p>
      <p>Well here's your chance.</p>
      <ul>
        <li>When: 10/25/16, 6:30pm-8pm</li>
        <li>Where: Watson B60</li>
        <li>Why: If the above wasn't enough... candy?</li>
      </ul>
      <p>Be there or be square.</p>
      <p><a class="feedback" href="http://sayat.me/summerwu">- Summer</a></p>
    </div>
  </body>
</html>
